<table class="table table-sm table-light table-striped" *ngIf="tracks">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Track</th>
			<th scope="col">Duration</th>
			<!--TODO: Use *ngIf to hide if hideArtist is true-->
			<th *ngIf="hideArtist == false" scope="col">Primary Artist</th>
			<!--TODO: Use *ngIf to hide if hideAlbum is true-->
			<th *ngIf="hideAlbum == false" scope="col">Album</th>
		</tr>
	</thead>
	<tbody>
		<!--TODO: Use *ngFor to loop over tracks-->
		<tr *ngFor = "let item of tracks, let i = index">
			<!--use index (starts from 0) and add 1-->
			<td> i </td>
			<td>
				<!--TODO: link to the endpoint for that track, display the track's name-->
				<a href="{{ item.externalUrls.spotify }}" target="_blank"> {{item.name}}</a>
			</td>
			<td>{{item.duration_ms}}</td>
			<!--TODO: Use *ngIf to hide if hideArtist is true; link to the first artist's endpoint and display the first artist's name-->
			<td *ngIf="hideArtist == false"><a href="{{item.artists[0].externalUrls.spotify}}" target="_blank">{{item.artists[0].name}}</a></td>
			<!-- album contains name from *response* -->
			<td *ngIf="hideAlbum == false"><a>{{item.album.name}}</a></td>
		</tr>
	</tbody>
</table>
